
    <header class="header">
        <nav class="navbar">
            <h2 class="logo"><a href="#"><img src="../assets/images/logo.png" alt="" height="50px" width="120px"></a></h2>
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" id="hamburger-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
            </label>
            <ul class="links">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Projets</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="buttons">
                <a href="#" class="signup"><i class="bi bi-person-circle"></i> Se connecter</a>
            </div>
        </nav>
    </header>
    <section class="hero-section">
        <img src="https://img.freepik.com/photos-gratuite/reunion-partenaires-commerciaux-pres-du-bureau_74855-1163.jpg?w=826&t=st=1701969163~exp=1701969763~hmac=7afbaa64fba52298d2534b6f744d53fce104f0e8b331478022b3212c73e5d7b8"
            alt="hero image" />
    </section>
