<!-- header -->
<app-header></app-header>
<!-- header -->

<!-- Slider -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="imgSlide carousel-item active" data-bs-interval="5000">
            <img src="../../../assets/images/bannieres/ban1.avif" class="h-100 img-fluid w-100" alt="...">
        </div>
        <div class="imgSlide carousel-item" data-bs-interval="2000">
            <img src="../../../assets/images/bannieres/ban2.avif" class="h-100 img-fluid w-100" alt="...">
        </div>
        <div class="imgSlide carousel-item">
            <img src="../../../assets/images/bannieres/ban3.jpg" class="h-100 img-fluid w-100" alt="...">
        </div>
        <div class="imgSlide carousel-item">
            <img src="../../../assets/images/bannieres/ban4.avif" class="h-100 img-fluid w-100" alt="...">
        </div>
        <div class="imgSlide carousel-item">
            <img src="../../../assets/images/bannieres/ban5.jpg" class="h-100 img-fluid w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <!-- <span class="visually-hidden">Next</span> -->
    </button>
</div>
<!-- Slider -->

<!-- Content -->

<!-- titre -->
<h1 class="text-center my-5">Trouvez un projet</h1>

<!-- categories -->
<!-- <div class="categories w-50 border d-flex justify-content-between mb-5 m-auto">
    <button class="btn btn-danger">Tous les projets</button>
    <button class="btn btn-success">Santé</button>
    <button class="btn btn-success">Technologie</button>
    <button class="btn btn-success">Mode</button>
    <button class="btn btn-success">Agriculture</button>
    <button class="btn btn-success">ZEducation</button>
</div> -->

<!-- carte projet -->
<div class="carteContainer container">
    <div class="row mb-4">
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card p-3">
                <div class="imgCarte mb-3">
                    <img src="../../../assets/images/bannieres/ban5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pagination -->
<div class="pagin d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- pagination -->

<!-- Content -->


<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->